.books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.book-card {
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}