body {
    background-color: #f0eef1;
    margin: 24px;
}

.books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
}

.book-card {
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: white;
    align-items: center;
}